# Object files
*.o
*.ko
*.lo

# Libraries
*.lib
*.a
*.la

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# autoconf misc
aclocal.m4
lt*.m4
*.cache
config.*
configure
libtool
libtool.m4
*.log
*.gz
Makefile
Makefile.in
*.deps
.dirstamp
*.libs
stamp-h*
build-aux/
wolfssh-config
aminclude.am

# vim
*.swp
*.swo
tags
diff
.vimrc

# examples
examples/client/client
examples/echoserver/echoserver
examples/server/server
examples/portfwd/portfwd
examples/sftpclient/wolfsftp
examples/scpclient/wolfscp

# applications
apps/wolfsshd

# test output
tests/*.test
*.trs

# scan-build
client.plist

# misc
.DS_Store

# VS debris
*.sdf
*.v11.suo
*.vcxproj.filters
*.opensdf
*.pdb
Debug
Release
DLL Debug
DLL Release
