# Object files
*.o
*.ko
*.lo

# Libraries
*.lib
*.a
*.la

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# autoconf misc
aclocal.m4
lt*.m4
*.cache
config.h*
configure~
config.status
configure
libtool
libtool.m4
*.log
*.gz
*.zip
*.bak
*.dummy
*.xcworkspace
Makefile
Makefile.in
*.deps
.dirstamp
*.libs
stamp-h*
src/stamp-h1
build-aux/
wolfmqtt-config
build-test/
build/
wolfssh-config
aminclude.am

# vim
*.swp
*.swo
tags
diff
.vimrc

# wolfSSL examples
examples/client/client
examples/echoserver/echoserver
examples/server/server
examples/portfwd/portfwd
examples/sftpclient/wolfsftp
examples/scpclient/wolfscp

# wolfSSH applications
apps/wolfssh/wolfssh
apps/wolfsshd/wolfsshd
apps/wolfsshd/test/test_configuration

# wolfMQTT examples
examples/aws/awsiot
examples/azure/azureiothub
examples/firmware/fwclient
examples/firmware/fwpush
examples/mqttclient/mqttclient
examples/mqttsimple/mqttsimple
examples/nbclient/nbclient
examples/sn-client/sn-client
examples/sn-client/sn-client_qos-1
examples/sn-client/sn-multithread
examples/multithread/multithread
examples/wiot/wiot


# test output
tests/*.test
*.trs

# scan-build
client.plist

# misc
.DS_Store

# Visual Studio Code Workspace Files
*.vscode
*.userprefs
*.exe
*.dll
.vs
Backup
UpgradeLog.htm
*.aps
*.VC.db
*.filters

# VS debris
*.sdf
*.v11.suo
*.vcxproj.filters
*.vcxproj.user
*.opensdf
*.pdb
.vs
Debug
Release
DLL Debug
DLL Release

*.trs
firmware.bin
wolfmqtt/options.h
IDE/ARDUINO/wolfMQTT
IDE/Microchip-Harmony/wolfmqtt_client/firmware/mqtt_client.X/dist/default/
build/

# eclipse
.cproject
.project
.settings


# auto-created CMake backups
**/CMakeLists.txt.old

# VisualGDB
**/.visualgdb
**/*.vgdbproj.*.user


# Espressif sdk config default should be saved in sdkconfig.defaults
# we won't track the actual working sdkconfig files
/IDE/Espressif/**/out/
/ide/Espressif/**/sdkconfig

# Espressif managed components to exclude:
/ide/Espressif/**/managed_components/**

# Espressif managed component lock files to exclude.
# "In general, it's ok to have it under version control, however, it ties
# the solution to the exact version of ESP-IDF and will be ignored if an
# example is built against another IDF version or for a different target.
# So it's better to git ignore it for the examples."
/ide/Espressif/**/dependencies.lock

# exclude any local oqs components
/ide/Espressif/ESP-IDF/examples/**/components/oqs

/ide/Espressif/**/sdkconfig.old

# ESP Registry Files

# Temporary wolfssl component install directories that are copied locally at install time
/ide/Espressif/wolfssl
/ide/Espressif/component-manager/wolfssl
/ide/Espressif/component-manager/wolfcrypt
/ide/Espressif/component-manager/src
/ide/Espressif/component-manager/dist

# Exclude most of the example files that are copied at install time
# from https://github.com/wolfSSL/wolfssl/tree/master/ide/Espressif/ESP-IDF/examples
/ide/Espressif/component-manager/examples/**/CMakeLists.txt
/ide/Espressif/component-manager/examples/**/partitions_singleapp_large.csv
/ide/Espressif/component-manager/examples/**/sdkconfig.defaults
/ide/Espressif/component-manager/examples/**/main/CMakeLists.txt
/ide/Espressif/component-manager/examples/**/main/*.c
/ide/Espressif/component-manager/examples/**/main/*.h
/ide/Espressif/component-manager/examples/**/main/include/*.h
/ide/Espressif/component-manager/examples/**/main/component.mk
/ide/Espressif/component-manager/examples/**/VisualGDB/*.sln
/ide/Espressif/component-manager/examples/**/VisualGDB/*.vgdbproj

# The only ESP Registry Files specific to this location
/ide/Espressif/ESP-IDF/examples/wolfssl_test/**/components/cryptoauthlib

# Never include the build failure semaphore file
/ide/build_failed.txt
/ide/Espressif/ESP-IDF/component-manager/dist.bak
/ide/Espressif/ESP-IDF/component-manager/src
/ide/Espressif/ESP-IDF/component-manager/wolfcrypt
/ide/Espressif/ESP-IDF/component-manager/wolfssl
/ide/Espressif/ESP-IDF/component-manager/dist

/ide/Espressif/component-manager/wolfssh
/ide/Espressif/component-manager/examples/**/*
/ide/Espressif/ESP-IDF/examples
