# Object files
*.o
*.ko
*.lo

# Libraries
*.lib
*.a
*.la

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# autoconf misc
aclocal.m4
lt*.m4
*.cache
config.h*
configure~
config.status
configure
libtool
libtool.m4
*.log
*.gz
*.zip
*.bak
*.dummy
*.xcworkspace
Makefile
Makefile.in
*.deps
.dirstamp
*.libs
stamp-h*
src/stamp-h1
build-aux/
wolfmqtt-config
build-test/
build/
wolfssh-config
aminclude.am

# vim
*.swp
*.swo
tags
diff
.vimrc

# examples
examples/client/client
examples/echoserver/echoserver
examples/server/server
examples/portfwd/portfwd
examples/sftpclient/wolfsftp
examples/scpclient/wolfscp

# applications
apps/wolfssh/wolfssh
apps/wolfsshd/wolfsshd
apps/wolfsshd/test/test_configuration

# test output
tests/*.test
*.trs

# scan-build
client.plist

# misc
.DS_Store

# Visual Studio Code Workspace Files
*.vscode
*.userprefs
*.exe
*.dll
.vs
Backup
UpgradeLog.htm
*.aps
*.VC.db
*.filters

# VS debris
*.sdf
*.v11.suo
*.vcxproj.filters
*.vcxproj.user
*.opensdf
*.pdb
.vs
Debug
Release
DLL Debug
DLL Release
DebugFIPS
ReleaseFIPS
DLL DebugFIPS
DLL ReleaseFIPS

# Eclipse
.cproject
.project
.settings


# auto-created CMake backups
**/CMakeLists.txt.old

# VisualGDB
**/.visualgdb
**/*.vgdbproj.*.user


# Espressif sdk config default should be saved in sdkconfig.defaults
# we won't track the actual working sdkconfig files
/ide/Espressif/**/out/
/ide/Espressif/**/sdkconfig
/ide/Espressif/**/sdkconfig.old

# Espressif managed components to exclude:
/ide/Espressif/**/managed_components/**

# Espressif managed component lock files to exclude.
# "In general, it's ok to have it under version control, however, it ties
# the solution to the exact version of ESP-IDF and will be ignored if an
# example is built against another IDF version or for a different target.
# So it's better to git ignore it for the examples."
/ide/Espressif/**/dependencies.lock


/ide/mplabx/wolfssh.X/dist/
/ide/mplabx/wolfssh.X/.generated_files
/ide/mplabx/wolfssh.X/build
